.MMM-HistoricalFacts .header {
	text-align: center;
}
.MMM-HistoricalFacts .title {
	text-align: center;
}
.MMM-HistoricalFacts .content {
  width: 100%;
  background-position: 11px 0;
  background-repeat: no-repeat;
  color: #fe0127;
}
.MMM-HistoricalFacts .wrapper {
	text-align: justify
}
